In [3]:
import pandas as pd
import data_io as io

In [8]:
index_df = pd.read_pickle(io.SAVE_PATH + 'index.pkl')

In [11]:
index_df.head(10)

,x0,x1,y0,y1,sample_idx,input
0,3,8,3,8,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,3,8,6,11,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,3,8,9,14,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,8,12,17,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,3,8,15,20,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ..."
5,3,8,18,23,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, ..."
6,3,8,21,26,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, ..."
7,6,11,3,8,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
8,6,11,6,11,0,"[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, ..."
9,6,11,9,14,0,"[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [12]:
index_df.describe()

                x0           x1           y0           y1   sample_idx
count  3528.000000  3528.000000  3528.000000  3528.000000  3528.000000
mean     11.541667    16.541667    11.949830    16.949830    49.598073
std       5.998437     5.998437     5.084211     5.084211    28.736546
min       0.000000     5.000000     0.000000     5.000000     0.000000
25%       6.000000    11.000000     9.000000    14.000000    25.000000
50%      12.000000    17.000000    12.000000    17.000000    50.000000
75%      18.000000    23.000000    15.000000    20.000000    75.000000
max      21.000000    26.000000    21.000000    26.000000    99.000000

In [13]:
index_df['x0']

0        3
1        3
2        3
3        3
4        3
        ..
3523    18
3524    18
3525    21
3526    21
3527    21
Name: x0, Length: 3528, dtype: int64

In [16]:
index_df['input']

0       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...
                              ...
3523    [1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, ...
3524    [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3525    [0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, ...
3526    [0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, ...
3527    [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: input, Length: 3528, dtype: object

In [17]:
index_df['input'][0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1])

In [18]:
index_df.loc[1]

x0                                                            3
x1                                                            8
y0                                                            6
y1                                                           11
sample_idx                                                    0
input         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: 1, dtype: object

In [21]:
d = {('excite','w1','w0'):[1,2,3], ('excite',0,1):[9,8,7], ('inhibit',0,'x'):[4,5,6]}
df = pd.DataFrame(d)
df

  excite    inhibit
      w1  0       0
      w0  1       x
0      1  9       4
1      2  8       5
2      3  7       6

In [22]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [23]:
df.loc[0]

excite   w1  w0    1
         0   1     9
inhibit  0   x     4
Name: 0, dtype: int64

In [24]:
df.loc[0].index

MultiIndex([( 'excite', 'w1', 'w0'),
            ( 'excite',    0,    1),
            ('inhibit',    0,  'x')],
           )

In [32]:
df.loc[0, ('excite', 'w1')]

w0    1
Name: 0, dtype: int64

In [42]:
df = pd.read_pickle(io.SAVE_PATH + 'net_data.pkl')

In [43]:
df.shape

(3529, 425)

In [44]:
df.head()

  input                             ...    output                           \
      0  1  2  3  4  5  6  7  8  9  ...         8                        9
      0  0  0  0  0  0  0  0  0  0  ...         2         3         4    a
0     0  0  0  0  0  0  0  0  0  0  ...  0.734999  0.263594  0.453872  0.0
1     0  0  0  0  0  0  0  0  0  0  ...  0.734000  0.262666  0.452720  0.0
2     0  0  0  0  0  0  0  0  0  0  ...  0.734687  0.262666  0.451345  0.0
3     0  0  0  0  0  0  0  0  0  0  ...  0.735950  0.261602  0.451716  0.0
4     0  0  0  0  0  0  0  0  0  0  ...  0.737458  0.261232  0.452835  0.0



          p         0         1         2         3         4
0  0.578518  0.547401  0.300567  0.647727  0.614715  0.800240
1  0.578518  0.546392  0.299695  0.646864  0.612966  0.799561
2  0.578518  0.546383  0.300401  0.648345  0.612693  0.798800
3  0.578518  0.546651  0.300475  0.649014  0.612099  0.799469
4  0.578518  0.546797  0.300504  0.649315  0.610337  0.800334

[5 rows x 425 columns]

In [45]:
df.columns

MultiIndex([( 'input', 0,   0),
            ( 'input', 1,   0),
            ( 'input', 2,   0),
            ( 'input', 3,   0),
            ( 'input', 4,   0),
            ( 'input', 5,   0),
            ( 'input', 6,   0),
            ( 'input', 7,   0),
            ( 'input', 8,   0),
            ( 'input', 9,   0),
            ...
            ('output', 8,   2),
            ('output', 8,   3),
            ('output', 8,   4),
            ('output', 9, 'a'),
            ('output', 9, 'p'),
            ('output', 9,   0),
            ('output', 9,   1),
            ('output', 9,   2),
            ('output', 9,   3),
            ('output', 9,   4)],
           length=425)

In [111]:
df.loc[0][( 'hidden', 0)]

a     0.000000
p     0.825799
0     0.963001
1     0.320696
2     0.962197
3     0.755020
4     0.437034
5     0.457407
6     0.002273
7     0.785247
8     0.699705
9     0.750432
10    0.470067
11    0.284622
12    0.578304
13    0.863053
14    0.687286
15    0.617672
16    0.092016
17    0.586650
18    0.091280
19    0.029248
20    0.751994
21    0.214908
22    0.585561
23    0.580600
24    0.425322
Name: 0, dtype: float64

In [116]:
import numpy as np
np.array(df.loc[0][('hidden', 0)])

array([0.        , 0.82579876, 0.96300148, 0.32069604, 0.96219726,
       0.75502026, 0.43703352, 0.45740714, 0.0022731 , 0.7852472 ,
       0.69970542, 0.75043156, 0.4700673 , 0.28462213, 0.57830392,
       0.8630526 , 0.68728577, 0.61767183, 0.09201569, 0.58665042,
       0.0912804 , 0.02924799, 0.75199406, 0.21490805, 0.58556076,
       0.5806002 , 0.4253219 ])

In [118]:
type(df.loc[0][('hidden', 0)])

pandas.core.series.Series

In [128]:
df.loc[0]['hidden']

0  a     0.000000
   p     0.825799
   0     0.963001
   1     0.320696
   2     0.962197
           ...
9  20    0.136444
   21    0.174175
   22    0.201309
   23    0.841196
   24    0.513157
Name: 0, Length: 270, dtype: float64

In [4]:
df = pd.read_pickle(io.SAVE_PATH + 'net_data.pkl')

In [5]:
df.loc[0]

input      activations    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
hidden     activations    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
           potentials     [0.9381049585303278, 0.6855231441110747, 0.663...
           weights        [[0.4618072235402737, 0.5217700240189488, 0.20...
recurrent  activations                            [0.0, 0.0, 0.0, 0.0, 0.0]
           potentials     [0.852909455517665, 0.9935554400651747, 0.1749...
           weights        [[0.8553634807672716, 0.6325699949629879, 0.61...
output     activations    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
           potentials     [0.9381049585303278, 0.6855231441110747, 0.663...
           weights        [[0.5871541624601688, 0.2157405937631608, 0.28...
Name: 0, dtype: object

In [131]:
df['input']

                                            activations
0     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
...                                                 ...
3524  [1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, ...
3525  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3526  [0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, ...
3527  [0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, ...
3528  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[3529 rows x 1 columns]

In [151]:
w = df.loc[1]['hidden', 'weights']
w.shape

(25, 10)

In [12]:
ndf = df.loc[0]['hidden'] - df.loc[1]['hidden']
ndf

activations    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
potentials     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
weights        [[0.0016244797716027382, 0.0007442936205399597...
dtype: object

In [13]:
ndf['weights']

array([[ 1.62447977e-03,  7.44293621e-04,  4.25644486e-04,
         4.28572214e-04,  2.00060143e-05,  2.34513863e-03,
         1.09716808e-03,  7.30620440e-07,  1.93539997e-03,
         3.44378758e-04],
       [ 3.79049535e-03,  4.71673155e-04,  4.43232088e-05,
         2.72614126e-03,  1.11958923e-04,  2.04600807e-04,
         6.11674729e-04,  5.38322379e-08,  3.12833414e-04,
         3.12778326e-04],
       [ 4.19147135e-04,  2.10707177e-03,  4.02042156e-04,
         4.82974728e-04,  4.97538984e-06,  4.60724161e-04,
         1.58092145e-03,  6.47694301e-07,  2.85718707e-03,
         3.64975010e-04],
       [ 1.50212654e-03,  3.23158791e-04,  9.83218179e-04,
         2.68954262e-04,  3.89775764e-05,  1.09446284e-03,
         6.52749431e-04,  1.40134397e-09,  1.66562389e-04,
         3.93181222e-05],
       [ 8.56671768e-04,  2.34728132e-03,  1.53546179e-04,
         1.18456616e-03,  1.55163038e-05,  7.95370908e-04,
         4.06299449e-05,  4.13982434e-07,  2.69544972e-03,
         6.42684426e-04],
       [ 8.78057192e-04,  8.39803428e-04,  2.03910296e-03,
         4.22520979e-04,  7.53421782e-05,  1.10228311e-03,
         2.17843130e-03,  5.04872065e-07,  5.69185412e-03,
         3.86198210e-04],
       [ 6.40929066e-05,  6.68912530e-04,  2.38733659e-04,
         3.00385017e-03,  2.07169177e-06,  5.15154968e-04,
         1.48066765e-03,  5.02235802e-08,  1.34120286e-03,
         3.03773659e-04],
       [ 6.56282269e-04,  4.00389552e-03,  1.26261803e-03,
         2.41909182e-03,  4.70250868e-06,  1.33242929e-03,
         1.78447520e-03,  5.61267676e-07,  8.05343402e-04,
         2.66372091e-04],
       [ 5.83329702e-04,  1.19960761e-03,  8.61387373e-04,
         6.22180799e-03,  1.39196775e-04,  4.89494879e-04,
         2.96204948e-04,  1.78183440e-07,  1.26520428e-03,
         3.40292305e-04],
       [ 3.83407242e-03,  8.19524230e-04,  2.55593926e-03,
         2.03761598e-03,  9.75342223e-05,  3.58394641e-04,
         1.24776389e-03,  8.96997768e-07,  1.17037886e-03,
         1.13368205e-04],
       [ 2.86853331e-04,  1.53161649e-05,  1.01193897e-03,
         3.36368554e-03,  5.64063484e-05,  3.77400827e-04,
         5.07608811e-04,  7.54402062e-07,  1.64003568e-03,
         1.38304729e-04],
       [ 3.98497394e-03,  1.01803507e-04,  1.87644186e-04,
         1.38372834e-03,  3.41744722e-05,  1.44978348e-03,
         3.36049752e-04,  4.61190982e-07,  5.43473418e-03,
         3.00519317e-04],
       [ 1.46304974e-03,  6.45782792e-05,  5.38804445e-04,
         3.53960500e-03,  6.43155007e-05,  7.88835071e-04,
         7.36046896e-04,  1.34220657e-06,  6.93126021e-04,
         7.97468532e-04],
       [ 1.81046696e-03,  8.51007201e-04,  1.42592438e-03,
         1.75886737e-03,  9.78190792e-05,  5.64181203e-04,
         1.84281322e-03,  6.10400525e-08,  5.37544885e-04,
         6.14464825e-05],
       [ 5.28262439e-04,  1.35143379e-03,  1.56596876e-03,
         6.80965847e-04,  1.10803094e-04,  7.88688490e-04,
         4.11027325e-05,  9.30390442e-07,  3.06812673e-04,
         2.77548024e-04],
       [ 2.98273010e-03,  1.16784242e-03,  1.68425583e-03,
         2.64445324e-03,  1.60686003e-05,  7.80625329e-05,
         2.14122568e-04,  8.73556348e-08,  1.64738683e-03,
         5.61518987e-04],
       [ 3.73060504e-03,  9.09026402e-04,  1.11846136e-03,
         1.22599835e-04,  5.05998030e-05,  2.10505434e-05,
         1.67357882e-03,  3.29557215e-08,  2.83089223e-03,
         6.58663324e-04],
       [ 2.97516732e-04,  1.91557597e-04,  2.21045554e-03,
         6.77784913e-03,  1.71162429e-04,  2.13008859e-04,
         6.07804526e-04,  2.26859720e-08,  4.41427133e-03,
         1.37755926e-04],
       [ 5.19638516e-03,  3.66407531e-03,  1.41928933e-03,
         2.98076659e-03,  8.20576820e-05,  7.55239964e-04,
         1.07475837e-04,  2.09949955e-07,  1.40746687e-03,
         5.49916109e-04],
       [ 2.61338493e-03,  3.35886139e-03,  1.84570676e-03,
         3.09362039e-03,  1.82691276e-06,  1.02065279e-04,
         2.16378659e-04,  9.87175430e-07,  1.17148611e-03,
         5.44835428e-04],
       [ 9.50754488e-04,  1.44760690e-03,  9.19842001e-05,
         4.72865530e-03,  2.73423126e-05,  5.10024442e-04,
         2.37400014e-03,  1.83627157e-07,  2.54383921e-03,
         3.40948891e-04],
       [ 4.04527108e-05,  3.34873217e-04,  6.51628757e-04,
         4.79922952e-04,  5.46788723e-06,  7.87448321e-05,
         8.52600468e-04,  9.85701404e-07,  8.12437416e-04,
         3.40218909e-04],
       [ 1.77816186e-03,  8.00202995e-04,  2.98744642e-04,
         2.34754131e-03,  9.37416069e-05,  1.10604198e-03,
         1.91697510e-03,  5.01878553e-07,  8.29567581e-05,
         2.84498675e-04],
       [ 1.76454760e-03,  4.42755823e-04,  1.15233617e-03,
         2.81528594e-03,  6.00569926e-05,  7.49197053e-04,
         2.32193496e-03,  9.53249488e-09,  2.13042503e-04,
         2.34359709e-04],
       [-2.93588833e-03, -1.81619865e-03, -1.15957922e-03,
        -1.26455603e-03, -5.89932326e-05, -1.76219138e-04,
        -1.38481951e-03, -2.84538805e-06, -9.09421305e-04,
        -3.61361760e-05]])

In [16]:
df.loc[1]['hidden','weights']

array([[0.46018274, 0.52102573, 0.20956943, 0.66310383, 0.66306344,
        0.93634707, 0.49415425, 0.80764812, 0.28491234, 0.39621311],
       [0.6550431 , 0.57903776, 0.73494292, 0.74078813, 0.87620134,
        0.15188769, 0.67878116, 0.0623377 , 0.09927675, 0.39550167],
       [0.88978756, 0.83216951, 0.86937491, 0.70160043, 0.04441987,
        0.20614148, 0.54064536, 0.70290158, 0.46570117, 0.91794916],
       [0.31687128, 0.69281094, 0.48533408, 0.14631781, 0.49515395,
        0.99347185, 0.57802039, 0.00182122, 0.63339322, 0.05031696],
       [0.8673797 , 0.91059068, 0.44414626, 0.25577988, 0.2242808 ,
        0.48125644, 0.5748192 , 0.98680818, 0.99079777, 0.7860497 ],
       [0.71854834, 0.52145367, 0.84651699, 0.08718138, 0.54635433,
        0.92155467, 0.91715873, 0.423147  , 0.78762425, 0.88366975],
       [0.28316862, 0.48289441, 0.4388887 , 0.47356434, 0.0372091 ,
        0.66192213, 0.96802163, 0.0280818 , 0.4092526 , 0.96365464],
       [0.07680833, 0.98068028, 0.6896162 , 0.68230909, 0.33031013,
        0.53325751, 0.5623761 , 0.45640967, 0.42836665, 0.58004703],
       [0.82180911, 0.4695901 , 0.42378336, 0.81516433, 0.97848654,
        0.24195128, 0.18806606, 0.1847302 , 0.49759205, 0.93912304],
       [0.78611904, 0.60560455, 0.61462513, 0.34447861, 0.47544206,
        0.31823177, 0.51589448, 0.47690088, 0.52487556, 0.94526927],
       [0.04699114, 0.07943037, 0.73450272, 0.96531868, 0.80103245,
        0.33485004, 0.77404287, 0.96447565, 0.48492302, 0.99094219],
       [0.53884803, 0.07324768, 0.45881461, 0.22934751, 0.29861001,
        0.68789388, 0.20165041, 0.27899064, 0.89211219, 0.8660147 ],
       [0.86110382, 0.74737667, 0.30823277, 0.6033836 , 0.31593029,
        0.34797825, 0.58062969, 0.76428473, 0.44070247, 0.88044493],
       [0.31273438, 0.43092713, 0.4132247 , 0.49576244, 0.39823333,
        0.44282282, 0.74643917, 0.11757989, 0.11791427, 0.06868003],
       [0.11189147, 0.53071896, 0.57914426, 0.14071019, 0.97100961,
        0.70246545, 0.2966745 , 0.45958073, 0.34549562, 0.50751736],
       [0.92548469, 0.86296102, 0.96784631, 0.4070743 , 0.51664411,
        0.17754304, 0.06536405, 0.07602918, 0.44336199, 0.97076525],
       [0.49584504, 0.38700246, 0.8536404 , 0.0440527 , 0.36936058,
        0.03458953, 0.72952649, 0.02127153, 0.49208087, 0.79067393],
       [0.07862819, 0.15338423, 0.59334085, 0.83764878, 0.74355391,
        0.29448452, 0.41709692, 0.20259156, 0.58323074, 0.27679516],
       [0.83492315, 0.8305089 , 0.97946817, 0.53689899, 0.57132123,
        0.70132984, 0.04761341, 0.19220123, 0.70076052, 0.74459425],
       [0.75635641, 0.8368101 , 0.43228155, 0.65416354, 0.34134189,
        0.04624171, 0.1970763 , 0.50255867, 0.16491061, 0.65105517],
       [0.37438091, 0.46861924, 0.11761861, 0.73858392, 0.71149634,
        0.22400158, 0.79798174, 0.16972226, 0.4648707 , 0.45091446],
       [0.60226771, 0.62056277, 0.36439122, 0.14323503, 0.12430445,
        0.59674615, 0.81999477, 0.67259906, 0.33375063, 0.62441733],
       [0.67980923, 0.36701342, 0.39082313, 0.47263879, 0.73587665,
        0.60167464, 0.78105321, 0.27369177, 0.74895416, 0.61001078],
       [0.9605828 , 0.81764433, 0.62477257, 0.35788137, 0.53876507,
        0.32013768, 0.72963368, 0.17187692, 0.04061569, 0.85073353],
       [0.99789298, 0.7973278 , 0.38436203, 0.37194712, 0.22934011,
        0.61185744, 0.63089055, 0.90510861, 0.46174854, 0.54272005]])